---
import '../styles/global.css';
const { content } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="icon" href="/logo.svg" type="image/svg+xml">
		<link rel="apple-touch-icon" href="/apple-icon-180x180.png">
		<title>{content.title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
